<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Accueil</title>
        <style>
            #container {
                font-family: arial;
                margin: 5% 10%;
            }

            h1 {
                background-color: #6897bb;
                color: #ffffff;
                padding: 20px
            }

            p {
                color: #3b5998;
            }
        </style>
    </head>

    <body>
    	<div id="container">
        <h1>Movies list</h1>
            
            <% for (id in films) {
            var film = films[id]['titre'];
            var chemin = films[id]['chemin'];
            %>
    			<p><a href="/page/<%= chemin %>"><%= film %></a></p>

            <% } %>
    	</div>
    <script>

    </script>
    </body>
</html>
